*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: #000000;
    color: white;
    overflow: hidden;
}

#container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;

}

h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.quote-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 400px;
}

.quote-box {
    width: 100%;
    font-size: 18px;
    border: 5px solid;
    border-image: linear-gradient(45deg, purple, orange)1;
    padding: 30px 20px;
    margin-bottom: 20px;
}

.quote-container button {
    text-decoration: none;
    padding: 5px;
    cursor: pointer;
    font-size: 16px;
    line-height: 25px;
    text-transform: uppercase;
    letter-spacing: 3px;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
#author{
    color: rgb(165, 137, 95);
}